<div id="reboot" class="modal hide fade" role="dialog" aria-labelledby="rebootLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="rebootLabel" class="text-error">请稍候!</h3>
	</div>
	<div class="modal-body">
		<strong>现在重新启动这个系统吗 ?</strong>
	</div>
	<div class="modal-footer">
		<button class="btn btn-small" data-dismiss="modal" aria-hidden="true">取消</button>
		<a class="btn btn-danger" href="{{ url_for('action', name='host', action='reboot', token=session.token) }}"><i class="icon-off icon-white"></i> 重新启动</a>
	</div>
</div>
